 <nav class="navbar navbar-expand navbar-light bg-light">
   <a class="navbar-brand"
      routerLink="posts">{{ blogTitle }}</a>

   <div class="collapse navbar-collapse">
     <ul class="navbar-nav">
       <li class="nav-item"
           routerLinkActive="active">
         <a class="nav-link"
            routerLink="posts">Posts</a>
       </li>
       <li class="nav-item"
           routerLinkActive="active">
         <a class="nav-link"
            routerLink="new">Nouveau post</a>
       </li>
     </ul>
   </div>
 </nav>
